Windows Service/ConsoleApplication/ConsoleApplication2/ConsoleApplication2/Web References/GeoService/MotorClaimService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MotorClaimService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://122.255.4.188/iron/MotorClaimService/MotorClaimService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://122.255.4.188/iron/MotorClaimService/MotorClaimService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://122.255.4.188/iron/MotorClaimService/MotorClaimService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MotorClaimService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMotorClaimService_GetHolidays_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHolidays" />
  </wsdl:message>
  <wsdl:message name="IMotorClaimService_GetHolidays_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHolidaysResponse" />
  </wsdl:message>
  <wsdl:message name="IMotorClaimService_GetAssignedJobs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAssignedJobs" />
  </wsdl:message>
  <wsdl:message name="IMotorClaimService_GetAssignedJobs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAssignedJobsResponse" />
  </wsdl:message>
  <wsdl:portType name="IMotorClaimService">
    <wsdl:operation name="GetHolidays">
      <wsdl:input wsaw:Action="http://tempuri.org/IMotorClaimService/GetHolidays" message="tns:IMotorClaimService_GetHolidays_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMotorClaimService/GetHolidaysResponse" message="tns:IMotorClaimService_GetHolidays_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAssignedJobs">
      <wsdl:input wsaw:Action="http://tempuri.org/IMotorClaimService/GetAssignedJobs" message="tns:IMotorClaimService_GetAssignedJobs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMotorClaimService/GetAssignedJobsResponse" message="tns:IMotorClaimService_GetAssignedJobs_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="MotorClaimService" />
</wsdl:definitions>