Windows Service/ConsoleApplication/ConsoleApplication2/ConsoleApplication2/Web References/GeoService/MotorClaimService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://122.255.4.188/iron/MotorClaimService/MotorClaimService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MotorClaimService" />
  <xs:element name="GetHolidays">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fromDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="toDate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHolidaysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MotorClaimService" minOccurs="0" name="GetHolidaysResult" nillable="true" type="q1:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssignedJobs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fromDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="toDate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssignedJobsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MotorClaimService" minOccurs="0" name="GetAssignedJobsResult" nillable="true" type="q2:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>